<!DOCTYPE html>
<html>
<head>
  <title>Vitrino</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/vitrino.min.css" rel="stylesheet">
</head>
<body>
<header>
  <h3>Vitrino</h3>
  <nav>
    <ul>
      <li><a href="/">Startseite</a></li>
      {% if not currentUser %}
        <li><a href="/login">Einloggen</a></li>
        <li><a href="/signup">Registrieren</a></li>
      {% else %}
        <li><a href="/logout">{{ currentUser.email }} ausloggen</a></li>
      {% endif %}
    </ul>
  </nav>
<hr>
</header>

{% block body %}
{% endblock %}

{% for type, flash in flashes %}
  <div class="flash-{{ type }}">
    {{ flash }}
  </div>
{% endfor %}

<footer></footer>
</body>
</html>