// Responsive
//––––––––––––––––––––––––––––––––––––––––––––––––––

@media @sm-and-up {
  .hide-sm-and-up {
    display: none;
  }
}

@media @md-and-up {
  .hide-md-and-up {
    display: none;
  }
}

@media @lg-and-up {
  .hide-lg-and-up {
    display: none;
  }
}