// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
@breakpoint-xs: 0px;
@breakpoint-sm: 576px;
@breakpoint-md: 768px;
@breakpoint-lg: 992px;
@breakpoint-xl: 1200px;

// Breakpoint ranges
@xs-max-width: (@breakpoint-sm - 1px);
@sm-max-width: (@breakpoint-md - 1px);
@md-max-width: (@breakpoint-lg - 1px);
@lg-max-width: (@breakpoint-xl - 1px);

// Media Queries
@xs:   ~"only screen and (max-width: @{xs-max-width})";
@sm:    ~"only screen and (min-width: @{breakpoint-sm}) and (max-width: @{sm-max-width})";
@md:    ~"only screen and (min-width: @{breakpoint-md}) and (max-width: @{md-max-width})";
@lg:    ~"only screen and (min-width: @{breakpoint-lg}) and (max-width: @{lg-max-width})";
@xl:    ~"only screen and (min-width: @{breakpoint-xl})";

@xs-and-up:   ~"only screen and (min-width: @{breakpoint-xs})";
@sm-and-up:    ~"only screen and (min-width: @{breakpoint-sm})";
@md-and-up:    ~"only screen and (min-width: @{breakpoint-md})";
@lg-and-up:    ~"only screen and (min-width: @{breakpoint-lg})";

@sm-and-down:    ~"only screen and (max-width: @{sm-max-width})";
@md-and-down:    ~"only screen and (max-width: @{md-max-width})";
@lg-and-down:    ~"only screen and (max-width: @{lg-max-width})";

// Colors
@light-grey: #9b9b9b;
@dark-grey: #333;
@green: #B4ED50;
@primary-color: #33c3f0;
@secondary-color: lighten(@dark-grey, 13.5%);
@border-color: #bbb;
@link-color: #1eaedb;
@font-color: #929292;

// Typography
@font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Buttons
@button-border-radius: 45px;

// Grid Variables
@container-width: 100%;
@total-columns: 12;
@column-width: 100 / @total-columns; // calculates individual column width based off of # of columns
@column-margin: 4%; // space between columns

// Misc
@global-radius: 4px;
@header-height-md: 80px;
@header-height-xs: 54px;
@content-area-height-xs: ~"calc(100vh - @{header-height-xs})";
@content-area-height-md: ~"calc(100vh - @{header-height-md})";