<!DOCTYPE html>
<html>
<head>
  <title>vitrino</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/vitrino.min.css" rel="stylesheet">
</head>
<body>
<header>
  <h3>vitrino</h3>
  <nav>
    <ul>
      <li><a href="/">Startseite</a></li>
      <li><a href="/users">Benutzerliste</a></li>
      {% if not currentUser %}
        <li><a href="/login">Einloggen</a></li>
        <li><a href="/signup">Registrieren</a></li>
      {% else %}
        <li><a href="/edit">Profil bearbeiten</a></li>
        <li><a href="/logout">{{ currentUser.username }} ausloggen</a></li>
      {% endif %}
    </ul>
  </nav>
<hr>
</header>

{% block body %}
{% endblock %}

{% for error in errors %}
  {{ error }}
{% endfor %}

{% for info in infos %}
  {{ info }}
{% endfor %}

<footer></footer>
</body>
</html>