<store-filter inline-template>
    <div id="store-filter" class="hide-md-and-up height-transition" :class="{ 'filter-opened': show }">

      <div id="filter-toggle" @click="show = !show">
        <div :class="{ 'icon-close': show, 'icon-filter': !show }"></div>
      </div>

      <div id="category-icons">
        <div class="child-icon" :class="{ 'deactivated': !filter.child }" @click="filter.child = !filter.child"></div>
        <div class="parfume-icon" :class="{ 'deactivated': !filter.parfume }" @click="filter.parfume = !filter.parfume"></div>
        <div class="colors-icon" :class="{ 'deactivated': !filter.colors }" @click="filter.colors = !filter.colors"></div>
        <div class="hobby-icon" :class="{ 'deactivated': !filter.hobby }" @click="filter.hobby = !filter.hobby"></div>
        <div class="building-icon" :class="{ 'deactivated': !filter.building }" @click="filter.building = !filter.building"></div>
        <div class="shirt-icon" :class="{ 'deactivated': !filter.shirt }" @click="filter.shirt = !filter.shirt"></div>
        <div class="gift-icon" :class="{ 'deactivated': !filter.gift }" @click="filter.gift = !filter.gift"></div>
        <div class="necklace-icon" :class="{ 'deactivated': !filter.necklace }" @click="filter.necklace = !filter.necklace"></div>
      </div>
    </div>
</store-filter>