<router-view class="" name="store-window"></router-view>

<store-window inline-template>
  <transition name="fade">
    <div id="store-window" v-show="show" v-cloak="">
      <div id="first-row" class="grid">
        <div class="hide-xs col-sm-5">
          <div id="company-logo" v-if="company.logo_url.standard">
            <img :src="company.logo_url.standard" :srcset="company.logo_url.retina + ' 2x'">
          </div>
        </div>
        <div class="col-12 col-sm-7">
          <h4 id="title">{{ company.name }}</h4>
          <div id="description">{{ company.description }}</div>
        </div>
      </div>
      <div id="second-row" class="grid hide-sm-and-down">
        <div class="col-12 col-sm-5 align-center">
          <button id="shop-link" class="button-primary button-green">
            Zum Shop
          </button>
        </div>
        <div class="col-12 col-sm-7">
          <div id="opening-hours"></div>
        </div>
      </div>
      <div id="tags" class="hide-md-and-up">
        <div class="tag">Kleidung</div>
        <div class="tag">Hobby</div>
        <div class="tag">Kleidung</div>
        <div class="tag">Kinderartikel</div>
        <div class="tag">Accessoires</div>
        <div class="tag label label-bio">Bio</div>
        <div class="tag label label-fair">Fair</div>
      </div>
      <div id="products">
        <div class="product" v-for="product in products.store_window">
          <img :src="product.image_url.standard" :srcset="product.image_url.retina + ' 2x'">
        </div>
      </div>
    </div>
  </transition>
</store-window>