// Layers
//––––––––––––––––––––––––––––––––––––––––––––––––––

.o-layer-primary {
    position: absolute;
    min-height: 100%;
    width: 100%;
    padding: 16px;
    overflow: hidden;
    z-index: 3;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.1);

    @media @md-and-up {
        overflow: auto;
        max-height: 100%;
        float: left;
        width: 580px;
    }
}

//.o-non-scrollable-layer {
//    position: absolute;
//    top: 0;
//    bottom: 0;
//    padding: 16px;
//    width: 100%;
//    overflow: hidden;
//    box-sizing: border-box;
//}
