{% extends '_layout.html' %}

{% block body %}
  {% block content %}

  <div class="content-container">
    <h1>Neues Passwort erstellen</h1>

    <form action="/reset/{{ resetToken }}" method="post">
      <input name="newPassword" type="text" placeholder="Neues Passwort" required autofocus>
      <input name="newPasswordConfirm" type="text" placeholder="Passwort wiederholen" required>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <input type="submit" value="Passwort speichern">
    </form>
  </div>

  {% endblock %}
{% endblock %}