<% extends '_layout.html' %>

<% block body %>
  <% block content %>

  <admin-dashboard inline-template>
    <div class="container">
      <h1>Dashboard</h1>

      <div class="row">
        <div class="four columns">
          <h5>Benutzer</h5>

          <table class="full-width">
            <tr>
              <th>Id</th>
              <th>E-Mail</th>
              <th>Rolle</th>
              <th>Verifiziert</th>
            </tr>
            <tr v-for="user in users">
              <td>{{ user.id }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
              <td>{{ user.email_verified }}</td>
            </tr>
          </table>
        </div>

        <div class="four columns">
          <h5>Unternehmen</h5>

          <table class="full-width">
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Verifizert</th>
            </tr>
            <tr v-for="company in companies">
              <td>{{ company.id }}</td>
              <td>{{ company.name }}</td>
              <td>{{ company.verified }} <span v-if="!company.verified">=> <a @click="verifyCompany(company.id)" href="#">verifizieren</a></span></td>
            </tr>
          </table>
        </div>

        <div class="four columns">
          <h5>Produkte</h5>

          <table class="full-width">
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Verifizert</th>
            </tr>
            <tr v-for="product in products">
              <td>{{ product.id }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.verified }} <span v-if="!product.verified">=> <a @click="verifyProduct(product.id)" href="#">verifizieren</a></span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </admin-dashboard>

  <% endblock %>
<% endblock %>