<% extends '_layout.html' %>

<% block body %>
  <% block content %>

  <div class="container" style="padding: 80px 0 0 12px;">
    <h1>Einloggen</h1>

    <form action="/login" method="post">
      <input name="email" type="text" placeholder="E-Mail" required autofocus autocomplete="on">
      <input name="password" type="password" placeholder="Passwort" required>
      <input type="hidden" name="_csrf" value="<$ csrfToken $>">
      <input type="submit" value="Einloggen"></br>
      <input name="remember" type="checkbox"> Eingeloggt bleiben
    </form>

    <a href="/forgot">Passwort vergessen</a>
  </div>

  <% endblock %>
<% endblock %>