header {
  height: @header-height-xs;
  border-bottom: 5px solid #fff;
  background: #fff linear-gradient(90deg, #00aaff 0%, #00c5ff 25%, #00dafb 50%, #2be3ef 65%, #96fdce 100%);
  box-shadow: 1px 1px 9px rgba(0,0,0,0.1);
  display: flex;
  align-items: center; 
  justify-content: space-between;
  z-index: 2;

  @media @md-and-up {
    height: @header-height-md;
  }

  #logo {
    margin-top: 7px;
    max-height: 34px;

    @media @md-and-up {
      max-height: 46px;
    }
  }

  nav {
    display: inline-block;

    ul {
      & > li {
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 0;

        & > .log {
          background: #fff;
          box-shadow: 0 1px 2px 0 rgba(123,123,123,0.50);
          border-radius: @button-border-radius;
          color: @light-grey;
          padding: 13px;
        }
      }
    }
  }
}