#header-container {
  height: 25px;
  padding: 10px;
  background: #fff;

  h5 {
    display: inline-block;
    line-height: 1;
    color: #000;
  }

  nav {
    display: inline-block;
    float: right;

    ul {
      & > li {
        display: inline-block;
        margin-left: 10px;
      }
    }
  }
}