#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .mapboxgl-ctrl-group {
    @media @sm-and-down {
      display: none !important;
    }

    .mapboxgl-ctrl-compass {
      display: none !important;
    }
  }

  .mapboxgl-ctrl-top-right {
    @media @xs-and-up {
      top: 56px;
    }

    @media @md-and-up {
      top: 80px;
    }
  }
}

#map-loading-screen {
  position: absolute;
  top: @header-height-xs;
  bottom: 0;
  height: @content-area-height-xs;
  width: 100%;
  z-index: 10;
  text-align: center;
  background-color: #fff;
  opacity: 1;
  transition: opacity 0.5s;

  @media @md-and-up {
    top: @header-height-md;
    height: @content-area-height-md;
  }

  img {
    margin-top: 25%;
    width: 100%;
    height: auto;
  }

  h4 {
    margin-top: 8px;
  }
}