@product-image-width: 210px;
@product-padding: 12px;

#store-window {
  float: left;
  z-index: 3;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  box-shadow: 1px 1px 9px rgba(0,0,0,0.1);
  -webkit-overflow-scrolling: touch;

  @media @md-and-up {
    overflow: hidden;
    width: (3 * @product-image-width) + (4 * @product-padding);
  }

  #first-row {
    margin-top: 24px;

    #company-logo {
      width: 260px;
      height: 130px;
    }

    #description {
      color: #929292;
      margin-bottom: 30px;
    }
  }

  #second-row {
    margin-top: 24px;
  }

  #products {
    width: 100%;
    margin: 24px -24px 0 0;
    line-height: 1;

    @media @md-and-up {
      margin-top: 72px;
    }

    .product {
      display: inline-block;
      width: 50%;
      height: auto;
      padding: 0 4px 8px 4px;
      box-sizing: border-box;
      
      @media @sm-and-up {
        width: (100% / 3);
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s
}

.fade-enter, .fade-leave-active {
  opacity: 0
}