<!DOCTYPE html>
<html lang="de">
<head>
  <title>Vitrino</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' />
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.3.1/mapbox-gl-geocoder.css' type='text/css' />
  <link rel='stylesheet' href='/css/vitrino.min.css'>
</head>
<body>
  <header class="container">
    <a href="/"><img id="logo" src="/img/logo.svg"></a>
    <nav class="hide-md-and-down">
      <ul>
        <% if not currentUser %>
          <li><a class="log" href="/login">Einloggen</a></li>
        <% else %>
          <% if currentUser.role === 'admin' %>
            <li><a href="/admin">Admin-Bereich</a></li>
          <% endif %>
          <li><a class="log" href="/logout"><$ currentUser.email $> ausloggen</a></li>
        <% endif %>
      </ul>
    </nav>
  </header>

  <div id="vue-app">
    <% block body %>
    <% endblock %>
  </div>

  <% block map %>
  <% endblock %>

  <% for type, flash in flashes %>
    <div class="content-container flash-<$ type $>">
      <$ flash $>
    </div>
  <% endfor %>

  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-supported/v1.2.0/mapbox-gl-supported.js'></script>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js'></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.min.js'></script>
  <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
  <script src='https://unpkg.com/vue@2.1.0/dist/vue.min.js'></script>
  <script src='/js/vitrino.js'></script>
  <script src='/js/vitrino.admin.js'></script>

  <script>
    const csrfToken = '<$ csrfToken $>';
    const eventHub = new Vue();
    const vm = new Vue({
      el: '#vue-app'
    });

    $(document).ajaxSend(function(event, request, settings ) {
      if (settings.type == "POST") {
        request.setRequestHeader('X-CSRF-Token', csrfToken);
      }
    });

    $("body").on("markerClickedEvent", function(e) {
      console.log("Marker clicked: " + e.text);
    });
  </script>
</body>
</html>